<div class="app-container">

  <aside class="app-sidebar">
    <div class="logo"><span>&lt;releasethekraken/&gt;</span></div>
    <div class="nav-menu-title"><h1><span>E</span> Registry</h1></div>
    <nav class="nav-buttons-container">
      <div><button class="nav-buttons" mat-button [routerLink]="['home']">Home Page</button> </div>
      <div><button class="nav-buttons" mat-button [routerLink]="['students']">Student List</button> </div>
      <div><button class="nav-buttons" mat-button [routerLink]="['add-student']">Student Registration Form</button> </div>
    </nav>
    <footer class="app-sidebar-footer">
      <p>Author: release-the-kraken</p>
    </footer>
  </aside>
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
</div>
